<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToTestUniversalLinks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31FD06201CA5485400F85AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FD06391CA5485500F85AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FD06441CA5485500F85AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
